# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads locais (caso use)
uploads/

# Sistema operacional
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# Prisma (opcional ignorar apenas cache)
.prisma/

# Arquivos temporários
.tmp/
temp/

# IDEs
.vscode/
.idea/

# Arquivos de backup
*~
*.bak
*.swp